

{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
.container {
    padding: 0;
    margin: 0 auto;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.container img {
    width: 100%; /* 이미지를 a 태그의 너비에 맞춤 */
    height: 14rem; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
    object-fit: cover; /* 이미지 비율 유지 */
    border-radius: 1rem; /* 이미지 모서리 둥글기 */
}

a {
    color: black;
    text-decoration-line: none;
}

.container a {
    flex: 0 0 100%; /* flex-grow, flex-shrink, flex-basis */
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
    margin: 1%; /* 각 요소 사이의 마진 */
    text-align: center; /* 내용을 중앙 정렬 */
    border-radius: 1rem;
    padding: 15px; /* 내부 패딩 */
    background-color: #FFFFFF; /* 배경색 */
    height: 300px; /* 카드의 높이, 필요에 따라 조정 */
    width: 250px;
    flex-wrap: wrap; /* 요소들이 컨테이너를 벗어나지 않도록 줄바꿈 설정 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* X축, Y축, 흐림 반경, 색상 */
}

.search-container {
    display: flex;
    justify-content: flex-end;
    width:70%;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 20px;
}

.search-item {
    margin-right: 10px; /* 검색 필드와 버튼 사이의 간격 */
}
select, input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* 드롭다운 스타일링 */
select {
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left:3rem;
}
.search-form div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.sing-search-field{
    margin-left:5px;
    height:46px;
}
.search-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sort_button {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 15px 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.sort_button.active {
    background-color: #4CAF50;
    color: white;
}
.sing-search-field{
    margin-left:5px;
    height:46px;
}
@media (max-width: 1400px) {
    .search-container {
        min-width:965px;
    }
}
@media (max-width: 1075px) {
    .search-container {
        width:90%;
        min-width:0px;
    }
}
@media (max-width: 700px) {
     .search-button {
         min-width:50px;
         padding: 10px 10px;
    }
    .search-container{
        justify-content: flex-end;
    }
}
@media (max-width: 620px) {
    .sing-search-keyword{
        width:150px;
    }
    .sing-search-field{
        width:110px;
    }
}
@media (max-width: 600px) {
    .container {
        margin-top: 20px;
    }

    .instrument-container-card-link {
        width: 45%;
        max-width: 200px;
        margin: 10px; /* 상하좌우 마진 추가 */
    }

    .container img {
        width: 100%; /* 이미지를 a 태그의 너비에 맞춤 */
        height: 10rem; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
        object-fit: cover; /* 이미지 비율 유지 */
        border-radius: 1rem; /* 이미지 모서리 둥글기 */
    }

    .container a {
        height: 250px; /* 카드의 높이, 필요에 따라 조정 */
        width: 250px;
    }
}
@media (max-width: 575px) {
    .search-container {
        width:93%;
        min-width:0px;
        margin-left:25px;
    }
    .sing-search-keyword{
        width:130px;
        font-size:14px;
        height:42px;
    }
    .sing-search-field{
        width:100px;
        font-size:14px;
        height:42px;
    }
    .sort_button{
        height:42px;
    }
    .search-button{
        height:42px;
    }
}
@media (max-width: 520px) {
    .sing-search-keyword{
        width:110px;
        font-size:12px;
        height:38px;
    }
    .sing-search-field{
        width:90px;
        font-size:12px;
        height:38px;
    }
    .sort_button{
        font-size:20px;
        height:38px;
        padding: 7px 10px 5px 10px;
    }
    .search-button{
        height:38px;
    }
    .sing-search-field{
        margin-left:3px;
    }
}
@media (max-width: 500px) {
    .container img {
        width: 100%; /* 이미지를 a 태그의 너비에 맞춤 */
        height: 160px; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
    }

    .container a {
        height: 240px; /* 카드의 높이, 필요에 따라 조정 */
    }
}
@media (max-width: 475px) {
    .search-form {
        flex-direction: column;
        width:100%;
        margin-left:0px;
    }
    .sort-buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom:5px;
    }
     .sort_button{
        font-size:24px;
        height:38px;
        padding: 7px 10px 5px 10px;
        width:33%;
    }
    .search-fields {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .sing-search-field {
        width: 30%;
        font-size: 12px;
    }
    .sing-search-keyword {
        width: 50%;
        font-size: 12px;
    }
    .search-button {
        width: 20%;
        font-size: 12px;
        padding: 5px;
    }
}
@media (max-width: 420px) {
    .container img {
        width: 100%; /* 이미지를 a 태그의 너비에 맞춤 */
        height: 130px; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
    }

    .container a {
        height: 210px; /* 카드의 높이, 필요에 따라 조정 */
    }
}
@media (max-width: 400px) {
    .search-container {
        justify-content: center; /* 검색 폼을 중앙으로 정렬 */
    }
    .search-button {
        padding: 10px 10px;
    }
}
@media (max-width: 360px) {
    .search-button {
        padding: 10px 10px;
        height:41.5px;
    }
}
</style>

<div class="search-container">
    <form method="get" action="{% url 'instrumentapp:list' %}" class="search-form">
        <div class="sort-buttons">
            <button type="submit" name="order_by" value="newest" class="sort_button {% if request.GET.order_by == 'newest' %}active{% endif %}">
                <span class="material-icons">update</span>
            </button>
            <button type="submit" name="order_by" value="popularity" class="sort_button {% if request.GET.order_by == 'popularity' %}active{% endif %}">
                <span class="material-icons">favorite</span>
            </button>
            <button type="submit" name="order_by" value="title" class="sort_button {% if request.GET.order_by == 'title' %}active{% endif %}">
                <span class="material-icons">sort_by_alpha</span>
            </button>
        </div>
        <div class="search-fields">
            {{ search_form.search_field }}
            {{ search_form.search_keyword }}
            <button type="submit" class="search-button">검색</button>
        </div>
    </form>
</div>

{% if instrument_list %}
<div class="container">
    {% for instrument in instrument_list %}
    <div class="instrument-container-card-link">
        <a href="{% url 'instrumentapp:detail' pk=instrument.pk %}">
            {% include 'snippets/card_instrument.html' with instrument=instrument %}
        </a>
    </div>
    {% endfor %}
</div>
<script src="{% static 'js/magicgrid.js' %}"></script>
{% else %}
<div style="text-align:center">
    <h1>
        No Articles Yet!!!!!
    </h1>
</div>
{% endif %}

{% include 'snippets/pagination.html' with pageobj=page_obj %}
<div style="text-align: center">
    {% if request.user.is_authenticated %}
    <a href="{% url 'instrumentapp:create' %}" class="btn btn-dark rounded-pill col-6 mt-3 mb-3 px-3">
        악기 추가하기
    </a>
    {% else %}
    <a class="loginButton btn btn-dark rounded-pill col-6 mt-3 mb-3 px-3" href="#">
        악기 추가하기
    </a>
    {% endif %}
</div>

{% endblock %}
