.Renaissance_footer_logo{
    font-family: 'Lobster', cursive;
}

@media screen and (max-width:500px){
    html {
        font-size:13px
    }
}
a {
    color: black;
    
}

a:hover {
    color: black;
    text-decoration: none;
}

body {
    background: url('static/background/recode.png') no-repeat center center fixed;
    -webkit-background-size: covoer;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: covoer;
}

section {
    margin-bottom: 150px;
}
/* source web_1/bin/activate  */ 
/* python manage.py runserver 0:80 */