{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
<style>
.input-group {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }
    .input-group .form-control {
        flex: 1 1 auto;
        width: 1%;
        margin-right: 10px;
    }
    .editable {
        flex-grow: 2;
        border: 2px solid #000000; /* 진한 테두리 적용 */
        padding: 10px;
        min-height: 100px;
    }
    .form-group {
        margin-bottom: 15px; /* 폼 필드 간격 조정 */
        text-align: left; /* 왼쪽 정렬 */
        display: flex; /* Flexbox를 사용하여 라벨과 입력 필드를 한 줄에 배열 */
        align-items: center; /* 세로 중앙 정렬 */
    }
    .text_album{
        height: 35rem; 
        overflow-y: auto;
    }
</style>
<div class="create_update_delete" style="text-align: center; max-width:700px; margin: 4rem auto">
    <div class="mb-4">
        <h4>
            Album Create
        </h4>
    </div>
    <form action="{%url 'albumapp:create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <!-- content 필드를 수동으로 렌더링 -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                <div class="col-sm-10">
                    {{ form.title }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
                <div class="col-sm-10">
                    {{ form.image }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="{{ form.artist.id_for_label }}">{{ form.artist.label }}</label>
                <div class="col-sm-10">
                    {{ form.artist }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="{{ form.datetime.id_for_label }}">{{ form.datetime.label }}</label>
                <div class="col-sm-10">
                    {{ form.datetime }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="content-editor">가사</label>
                <div class="col-sm-10">
                    <textarea id="content-editor" name="content" class="form-control text_album" placeholder="가사를 입력해주세요">{{ form.content.value|default_if_none:"" }}</textarea>
                </div>
            </div>
        </div>
        <div id="dynamic_sing_container">
        <!-- 멤버 필드가 여기에 동적으로 추가됩니다 -->
        </div>
        <button type="button" id="add_member_button" class="btn btn-info rounded-pill mt-2">+ 노래 추가</button>
        <div id="dynamic_fields_container">
            <!-- 동적 필드가 추가될 컨테이너 -->
        </div>
        <button type="button" id="add_field_button" class="btn btn-info rounded-pill mt-2">+ 추가 정보</button>
        <div class="button-row mt-3">
            <button type="submit" name="save_draft" class="btn btn-secondary rounded-pill col-5 mr-1">Save as Draft</button>
            <button type="submit" name="publish" class="btn btn-primary rounded-pill col-5 ml-1">Publish</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        let counter = 0; // 추가 정보에 사용되는 카운터
        let memberCounter = 0; // 멤버 추가에 사용되는 카운터

        // Select2 초기화 함수
        function initializeSelect2(selector) {
            $(selector).select2({
                width: '100%', // Select2의 너비 설정
                placeholder: "선택", // placeholder 텍스트
                allowClear: true // 선택 초기화 기능
            });
        }


        // 추가 정보 버튼 클릭 이벤트
        $('#add_field_button').click(function(e) {
            e.preventDefault();
            let newFieldHtml = `
                <div class="input-group mb-2" id="description_${counter}">
                    <input type="text" name="detailed_descriptions[${counter}][name]" class="form-control" placeholder="정보의 이름" required />
                    <div class="editable" style="min-height: 100px;" data-placeholder="설명"></div>
                    <textarea name="detailed_descriptions[${counter}][value]" style="display:none;"></textarea>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger remove-field-btn" data-id="${counter}">삭제</button>
                    </div>
                </div>
            `;
            $('#dynamic_fields_container').append(newFieldHtml);

            // 새로운 editable 요소에 대한 Medium Editor 초기화 및 이벤트 바인딩
            var newEditable = $(`#description_${counter} .editable`);
            new MediumEditor(newEditable.get(0)).subscribe('editableInput', function(event, editable) {
                $(editable).next('textarea').val(editable.innerHTML);
            });

            counter++;
        });

        // 동적으로 생성된 삭제 버튼에 대한 이벤트 핸들러 설정
        $('#dynamic_fields_container').on('click', '.remove-field-btn', function() {
            let fieldId = $(this).data('id');
            $('#description_' + fieldId).remove();
        });

        // 멤버 추가 버튼 클릭 이벤트
        $('#add_member_button').click(function(e) {
            e.preventDefault();
            let memberHtml = `
                <div class="member-entry mb-3 d-flex align-items-center" id="member_${memberCounter}">
                    <div class="col">
                        <select class="form-control selection-method" name="selection_method_${memberCounter}">
                            <option value="">불러오기/직접 입력하기</option>
                            <option value="load">불러오기</option>
                            <option value="manual_entry">직접 입력하기</option>
                        </select>
                    </div>
                    <div class="col artist-select" style="display: none;">
                        <select class="form-control artist-selection" name="artist_id_${memberCounter}">
                            <option value="">아티스트 선택</option>
                            {% for artist in artists %}
                            <option value="{{ artist.id }}">{{ artist.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col sing-select" style="display: none;">
                        <select class="form-control sing-selection" name="sing_id_${memberCounter}">
                            <option value="">노래 선택</option>
                        </select>
                    </div>
                    <div class="col manual-entry-fields" style="display: none;">
                        <input type="text" class="form-control" name="manual_artist_${memberCounter}" placeholder="가수" />
                    </div>
                    <div class="col manual-entry-fields" style="display: none;">
                        <input type="text" class="form-control" name="manual_title_${memberCounter}" placeholder="제목" />
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-danger remove-member-btn" data-id="${memberCounter}">삭제</button>
                    </div>
                </div>
            `;

            $('#dynamic_sing_container').append(memberHtml);
            initializeSelect2(`#member_${memberCounter} .artist-selection`);
            memberCounter++;
        });

        // 멤버 삭제 버튼 이벤트
        $('#dynamic_sing_container').on('click', '.remove-member-btn', function() {
            let memberId = $(this).data('id');
            $('#member_' + memberId).remove();
        });

        // 선택 방법 변경 이벤트
        $(document).on('change', '.selection-method', function() {
            let method = $(this).val();
            let parentEntry = $(this).closest('.member-entry');
            parentEntry.find('.artist-select, .sing-select, .manual-entry-fields').hide();

            if (method === 'load') {
                parentEntry.find('.artist-select').show();
            } else if (method === 'manual_entry') {
                parentEntry.find('.manual-entry-fields').show();
            }
        });

        $(document).on('change', '.artist-selection', function() {
            let artistId = $(this).val();
            let parentDiv = $(this).closest('.member-entry');
            let singSelect = parentDiv.find('.sing-selection');

            if (artistId) {
                $.ajax({
                    url: `/albums/get-songs-by-artist/${artistId}/`, // URL의 끝에 슬래시(`/`) 추가
                    method: 'GET',
                    success: function(response) {
                        // 서버에서 반환한 데이터 구조가 이미 JSON 객체라면 JSON.parse는 필요 없습니다.
                        singSelect.empty().append('<option value="">노래 선택</option>');
                        response.songs.forEach(function(sing) {
                            // 서버에서 반환하는 객체 구조에 따라 접근 방식을 수정해야 합니다.
                            singSelect.append(`<option value="${sing.id}">${sing.title}</option>`);
                        });
                        singSelect.closest('.sing-select').show();
                        initializeSelect2(singSelect);
                    },
                    error: function(xhr, status, error) {
                        console.error("Error fetching sings: ", error);
                    }
                });
            } else {
                singSelect.closest('.sing-select').hide();
            }
        });
    });
</script>


{% endblock %}