{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
.entire_artist {
    display: flex; /* Flex 컨테이너 설정 */
    justify-content: space-between; /* 자식 요소를 가운데 정렬 */
    align-items: flex-start; /* 세로 축에서 상단 정렬 */
    width: 80%; /* 전체 너비 */
    margin: auto; /* 자동 마진으로 중앙 정렬 */
} 
.artist_container{
    width: 65%;
    background-color: #f8f9fa; /* 배경색 회색으로 설정 */
    padding: 20px; /* 패딩 추가 */
    margin-bottom: 20px; /* 아래쪽 마진 추가 */
    border-radius: 1rem; /* 모서리 둥글게 */
    margin-right: 2rem; /* 오른쪽 마진 추가 */
}
.artist-descriptions {
    min-height: 500px; /* 최소 높이 설정 */
    max-height: 500px; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 방향으로 내용이 넘칠 경우 스크롤바 표시 */
    padding: 20px; /* 패딩 추가 */
    background-color: #f8f9fa; /* 배경색 회색으로 설정 */
    border-radius: 1rem; /* 모서리 둥글게 처리 */
    margin-bottom: 20px; /* 아래쪽 마진 추가 */
}
.descriptions-container {
    margin-top: 20px;
}

.description-block {
    margin-bottom: 20px;
}

.description-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.description-text {
    margin: 20px 0; /* 상하 여백 추가 */
    padding: 15px; /* 내부 패딩 */
    background-color: #ffffff; /* 배경색 설정 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    font-size: 1rem; /* 글자 크기 */
    line-height: 1.6; /* 줄 간격 */
}
.open-descriptions button {
    display: block; /* 블록 레벨 요소로 설정하여 가운데 정렬 가능하게 함 */
    margin: 20px auto; /* 상하 마진 20px, 좌우 마진 auto로 설정하여 가운데 정렬 */
    padding: 10px 15px; /* 패딩 설정 */
    background-color: #9CA3AF; /* 회색톤 배경색 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 처리 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    transition: background-color 0.3s; /* 배경색 변경 애니메이션 */
}

.open-descriptions button:hover {
    background-color: #6B7280; /* 호버 시 배경색 변경 */
}
/* 공연 정보 박스 내부 패딩 및 마진 조정 */
.information {
    padding: 20px; /* 패딩 추가 */
    background-color: #f8f9fa; /* 배경색 변경 */
    border-radius: 1rem; /* 모서리 둥글게 */
    margin-left: 20px;
}

/* 공연 정보 세부 항목 스타일 */
.information h2 {
    color: #333; /* 글자색 변경 */
    margin-top: 20px; /* 위쪽 마진 추가 */
}
/* 아티스트 카드를 포함하는 컨테이너 스타일 수정 */
.detail_lineup {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 카드를 왼쪽 정렬 */
    gap: 20px; /* 카드 사이의 간격 */
    margin-bottom: 20px; /* 섹션 아래쪽 마진 */
    padding: 20px;
    background-color: #e9ecef; /* 배경색 회색으로 설정 */
    border-radius: 1rem; /* 모서리 둥글게 */
    min-height: 350px; /* 최소 높이 설정 - 필요에 따라 조정 */
}

/* 카드 스타일 */
.detail_lineup a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: black; /* 텍스트 색상 */
}
.righter{
    width: 30%;   
}
/*----------------커뮤니티-----------  */
.community-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
     /* 커서 모양 변경 */
    cursor: pointer;
}

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.top-line h2 {
    margin: 0;
    font-size: 15px;
}

.top-line{
    font-size: 24px;
    color: #666;
}
.likes{
    display: flex;
    color: #666;
    align-items: center;
}
.like_count{
    font-size: 20px;
    margin-left:10px;
}

.bottom-line {
    display: flex;
    justify-content: start;
    font-size: 12px;
    color: #888;
    margin-top: 3px;
}

.bottom-line span {
    margin-right: 10px;
}
@media (max-width: 1450px) {
     .bottom-line {
        font-size: 11px;
    }
}
@media (max-width: 1400px) {
    .bottom-line {
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    .bottom-line {
        font-size: 11px;
    }
}
@media (max-width: 1100px) {
    .bottom-line {
        font-size: 12px;
    }
}
@media (max-width: 900px) {
    .bottom-line {
        font-size: 11px;
    }
}
@media (max-width: 850px) {
    .bottom-line {
        font-size: 10px;
    }
}
@media (max-width: 799px) {
    .bottom-line {
        font-size: 12px;
    }
}
@media (max-width: 390px) {
    .bottom-line {
        font-size: 11px;
    }
}
@media (max-width: 370px) {
    .bottom-line {
        font-size: 10px;
    }
}
/*----------------커뮤니티 끝-----------  */
.ranking-switch-row {
    display: flex;
    justify-content: center;
    width: 94.5%;
    background-color: #f8f9fa;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-left:20px;
    margin-top:10px;
}
.switch-button, .switch-button-2 {
    flex: 1;
    background-color: #f8f9fa; /* 어두운 회색 배경 */
    color: #000000; /* 흰색 글자 */
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    border-top: 1px solid #ddd; /* 위쪽 테두리 추가 */
}
/* 활성화된 버튼 스타일 */
.switch-button:hover, .switch-button-2:hover {
    background-color: #8c9191; /* 활성화된 배경색 */
}
/* 활성화된 버튼 스타일 */
.switch-button.active, .switch-button-2.active {
    background-color: #8c9191; /* 활성화된 배경색 */
    color: #ffffff; /* 활성화된 글자색 */
}
.ranking-switch-row .switch-button:first-child {
    border-top-left-radius: 1rem;
    border-right: 2px solid #ddd;
}
.ranking-switch-row .switch-button:nth-child(2) {
    border-right: 2px solid #ddd;
}
.ranking-switch-row .switch-button:last-child {
    border-top-right-radius: 1rem;
}
.ranking-switch-row .switch-button-2:first-child {
    border-top-left-radius: 1rem;
    border-right: 2px solid #ddd;
}
.ranking-switch-row .switch-button-2:nth-child(2) {
    border-top-right-radius: 1rem;
}
.community{
    padding: 20px; /* 패딩 추가 */
    margin-left: 20px; /* 왼쪽 마진 추가 */
    border-bottom-left-radius: 1rem; /* 왼쪽 아래 모서리 둥글게 */
    border-bottom-right-radius: 1rem; /* 오른쪽 아래 모서리 둥글게 */
    padding: 20px; /* 패딩 추가 */
    background-color: #f8f9fa; /* 배경색 변경 */
    height: 650px; /* 고정 높이 설정 */
    overflow-y: auto; /* 세로 스크롤바 설정 */
}
.sing_list{
    padding: 20px; /* 패딩 추가 */
    margin-left: 20px; /* 왼쪽 마진 추가 */
    border-bottom-left-radius: 1rem; /* 왼쪽 아래 모서리 둥글게 */
    border-bottom-right-radius: 1rem; /* 오른쪽 아래 모서리 둥글게 */
    padding: 20px; /* 패딩 추가 */
    background-color: #f8f9fa; /* 배경색 변경 */
    height: 650px; /* 고정 높이 설정 */
    overflow-y: auto; /* 세로 스크롤바 설정 */
}
.person_card {
        padding: 0;
        margin: 0, auto;
        flex: 0 0 45%; /* flex-grow, flex-shrink, flex-basis */
}
    
.person_card div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.person_card img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 1rem;
}
.person_card_text{
    flex: 0 0 45%; /* flex-grow, flex-shrink, flex-basis */
}
.modify{
 text-align: center;
 margin-top:25px
}
.name-cell {
    font-size: 2em; /* 이름의 글꼴 크기를 키웁니다. */
    text-align: center;
    /* 추가적으로 원하는 스타일 속성을 정의할 수 있습니다. */
}
/* 커뮤니티 글 모두보기 스타일 */
/* 관련 커뮤니티 글 모두 보기 버튼 스타일 */
.view-all-community-btn {
    display: inline-block; /* 인라인 블록 요소로 설정 */
    padding: 10px 20px; /* 패딩 조정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border: none; /* 테두리 없앰 */
    border-radius: 5px; /* 둥근 모서리 */
    background-color: #8c9191; /* 배경색 */
    color: black; /* 글자색 */
    text-decoration: none; /* 밑줄 제거 */
    font-weight: bold; /* 글자 굵게 */
    transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
}

.view-all-community-btn:hover {
    background-color: #555959; /* 호버 시 배경색 변경 */
    color: white; /* 글자색 */
}

/* 공연 관련 글 헤더 스타일 */
.community-header {
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: space-between; /* 내용을 양쪽 끝으로 정렬 */
    align-items: center; /* 세로 축 중앙 정렬 */
    margin-bottom: 20px; /* 하단 여백 추가 */
}
.swiper-container{
    padding: 20px; /* 패딩 추가 */
    margin-left: 20px; /* 왼쪽 마진 추가 */
    border-bottom-left-radius: 1rem; /* 왼쪽 아래 모서리 둥글게 */
    border-bottom-right-radius: 1rem; /* 오른쪽 아래 모서리 둥글게 */
    background-color: #f8f9fa; /* 배경색 변경 */
    height: 650px; /* 고정 높이 설정 */
    position: relative; /* Swiper 컨테이너에 대한 상대 위치 설정 */
    overflow: hidden;

}
.swiper-slide {
    text-align: center; /* 슬라이드 내용 중앙 정렬 */
    font-size: 18px; /* 폰트 크기 */
    background: #fff; /* 배경 색상 */

}
.swiper-wrapper{
    margin-top: 15px;
    height:30%;

}
/* Swiper 버튼 보이게 하는 스타일 */
.swiper-button-prev, .swiper-button-next {
    visibility: visible; /* 버튼을 보이게 함 */
    z-index: 10; /* 다른 요소들 위에 오도록 z-index 조정 */
    background-color: #FFF; /* 배경색 추가, 필요에 따라 조정 가능 */
    border-radius: 50%; /* 버튼 모양을 원형으로 */
    width: 40px; /* 너비 조정 */
    height: 40px; /* 높이 조정 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8; /* 버튼 투명도 조정, 필요에 따라 변경 가능 */
    position: absolute; /* 절대 위치 설정으로 컨테이너 내에서 위치 조정 */
    top: 96%; /* 버튼을 컨테이너의 수직 중앙에 위치시킴 */
    transform: translateY(-50%); /* Y축 기준으로 자신의 크기의 반만큼 이동하여 정확히 중앙에 위치 */
    z-index: 10; /* 다른 요소 위에 표시되도록 z-index 설정 */
    /* 기타 스타일 */
}
.swiper-button-prev {
    left: 10px; /* 컨테이너 왼쪽 가장자리로부터의 거리 */
}

.swiper-button-next {
    right: 10px; /* 컨테이너 오른쪽 가장자리로부터의 거리 */
}
.swiper-button-prev:hover, .swiper-button-next:hover {
    opacity: 1; /* 마우스 호버시 투명도 변경 */
}
/* 페이지네이션 스타일 */
.swiper-pagination {
    position: absolute;
    bottom: 10px; /* 하단에서 10px 위로 올림 */
    left: 0;
    width: 100%;
    text-align: center; /* 페이지네이션 버튼을 중앙에 배치 */
    z-index: 10;
}
    
/* ========================================댓글섹션 스타일링====================================== */
    /* 전체 댓글 섹션 스타일링 */
.comment-section {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: auto;
    width:90%;
}

/* 정렬 버튼 스타일링 */
.sorting-buttons {
    text-align: right;
    margin: 20px 0;
}

.sorting-buttons a {
    text-decoration: none;
    color: #1a0dab;
    font-size: 0.9em;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #dfe1e5;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sorting-buttons a:hover {
    background-color: #f8f9fa;
}

/* 댓글 목록 스타일링 */
.comment {
    background-color: #f1f3f4;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* 페이지네이션 스타일링 */
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    text-decoration: none;
    color: #1a0dab;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #dfe1e5;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #f8f9fa;
}

.pagination .current-page {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #e8f0fe;
    border-radius: 4px;
}
/*==========================핫 포인트 모달시작 ==================== */
/* 아이콘 버튼 스타일 기본 스타일 제거 및 아이콘 스타일 추가 */
.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

/* 아이콘 버튼에 호버 효과 추가 */
.icon-button:hover .material-icons {
    color: #ff4500;
}
/* 팝업 배경 */
.hot_modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
} 

/* 팝업 컨텐츠 */
.hot_modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 500px; 
    height: 400px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 닫기 버튼 */
.hot_modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.hot_modal-close:hover,
.hot_modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 폼 요소 스타일 */
#hotPointForm label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

#hotPointForm input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.hot_modal-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

.hot_modal-btn:hover {
    background-color: #218838;
}
/* ==========================핫 포인트 박스 게임 랭킹처럼 디자인 시작 ================= */
/* 공통 테이블 스타일 */
.hot_user_list, .hot_artist_list{
    padding: 20px; /* 패딩 추가 */
    margin-left: 20px; /* 왼쪽 마진 추가 */
    border-bottom-left-radius: 1rem; /* 왼쪽 아래 모서리 둥글게 */
    border-bottom-right-radius: 1rem; /* 오른쪽 아래 모서리 둥글게 */
    padding: 20px; /* 패딩 추가 */
    background-color: #f8f9fa; /* 배경색 변경 */
    height: 650px; /* 고정 높이 설정 */
    overflow-y: none; /* 세로 스크롤바 설정 */
}
.ranking-table-content {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ranking-table-content th, .ranking-table-content td {
    padding: 15px;
    border: none;
    text-align: left;
}

.ranking-table-content th {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

/* Top Users 테이블 스타일 */
.ranking-table-content tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.ranking-table-content tbody tr:nth-child(odd) {
    background-color: #fefefe;
}

.ranking-table-content tbody tr:hover {
    background-color: #f1f1f1;
}

/* Current User 테이블 스타일 */
.current-user-row {
    background-color: #ffeaa7; /* 밝은 노란색 배경 */
    color: #d35400; /* 어두운 주황색 텍스트 */
    font-weight: bold;
}

.not-logged-in-message {
    font-size: 1.2em;
    color: #ff0000;
    text-align: center;
}
.ranking-table {
    width: 100%;
    max-width: 800px;
}
@media (max-width: 1560px) {
    .community-header h2{
        font-size:26px;
    }
}
@media (max-width: 1400px) {
    /* 그 외 캘린더 요소들의 스타일을 조정하고 싶은 경우 여기에 추가합니다. */
    .artist_container{
        width: 60%;
    }
    .righter{
        width: 40%;   
    }
}
@media (max-width: 1100px) {
    .entire_artist {
        flex-direction: column; /* 세로 정렬로 변경 */
        align-items: center; /* 중앙 정렬 */
        width:90%;
    }
    .artist_container {
        width: 100%; /* 너비를 100%로 설정하여 화면을 꽉 채우게 함 */
        margin-bottom: 20px; /* 요소들 사이에 마진 추가 */
        order: 1; /* poster_content를 righter 아래로 내림 */
        margin-right: 0; /* 오른쪽 마진 추가 */
    }
    .righter {
        width: 100%; /* 너비를 100%로 설정하여 화면을 꽉 채우게 함 */
        margin-bottom: 20px; /* 요소들 사이에 마진 추가 */
        order: 2; /* righter를 poster_content 위로 올림 */
    }
    .information, .select_button, .community, .swiper-container{
        margin-left:0px;
    }    
    .person_card_text{
        flex: 0 0 30%; /* flex-grow, flex-shrink, flex-basis */
    }
    .person_card{
        flex: 0 0 30%; /* flex-grow, flex-shrink, flex-basis */
    }
    .ranking-switch-row {
        width: 100%;
        margin-left:0px;
    }
    .hot_user_list, .hot_artist_list{
        margin-left:0px;
    }
    
}
 
@media (max-width: 800px) {
    .select_button {
        display: block; /* 버튼 그룹 표시 */
    }
    .community_and_swiper {
        flex-direction: column; /* 세로 정렬 */
    }

    .community, .swiper-container, .sing_list {
        width: 100%; /* 너비를 100%로 설정하여 화면 전체 사용 */
        margin: 0 0; /* 위아래로만 마진을 주어 수직 간격 조정 */
    }

}
@media (max-width: 550px) {
    .person_card_text{
        flex: 0 0 45%; /* flex-grow, flex-shrink, flex-basis */
    }
    .person_card{
        flex: 0 0 45%; /* flex-grow, flex-shrink, flex-basis */
    }
    .hot_modal-content {
        width: 300px; 
        height: 300px; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
</style>

<link href="{% static 'css/artist_detail.css' %}" rel="stylesheet"> <!-- CSS 파일 링크 -->
<div class="entire_artist">
    <div class="artist_container">
        <h1 class="artist-title">{{ target_artist.title }}</h1>
        <div class="artist-image">
            <img src="{{ target_artist.image.url }}" alt="{{ target_artist.title }}">
        </div>
        <div class="artist-descriptions">
            {% if target_artist.content %}
                <div class="description-name">정보</div>
                <div class="description-text">
                    {{ target_artist.content|safe|linebreaksbr }}
                </div>
            {% endif %}
            <div class="detailed_descriptions">
                {% if target_artist.detailed_descriptions.all %}
                <div class="descriptions-container">
                    {% for description in target_artist.detailed_descriptions.all %}
                        <div class="description-block">
                            <div class="description-name">{{ description.name }}</div>
                            <div class="description-text">{{ description.text|safe|linebreaksbr }}</div>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <p style='margin-top:50px; text-align:center;'>알고있는 정보가 있다면 추가해주세요</p>
                    <p style='text-align:center'>Tmi도 환영합니다</p>
                {% endif %}
            </div>
        </div>
        <div class="open-descriptions">
             <button onclick="toggleDescriptions()">펼치기</button>
        </div>
    </div>
    
    <div class="righter">
        <div class="information">
            <h2>Members</h2>
            <!-- 멤버 정보 표시 -->
            <div class="detail_lineup">
                {% if target_artist.person.exists or target_artist.text_person %}
                        <!-- 가져온 멤버 표시                                 -->
                        {% if target_artist.person.exists %}
                            {% for person in target_artist.person.all %}
                                        <div class="person_card">
                                            <a href="{% url 'personapp:detail' pk=person.pk %}" class="card_artist">
                                            {% include 'snippets/card_person_two.html' with person=person %}
                                            </a>  
                                        </div>
                            {% endfor %}
                        {% endif %}
                        <!-- 직접 입력된 멤버 표시 -->
                        {% for text_person in text_persons %}
                            <a class="person_card_text" href="{% url 'personapp:create' %}" >
                                <div style="flex: 0 0 45%; display: block; text-align:center;">
                                    <div style="font-weight: bold;">{{ text_person.0 }}</div>
                                    <img src="{% static 'defalut_image/default_profile.jpg' %}" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
                                    <h5 class="mt-2" style="font-family: 'NanumSquareB';">{{ text_person.1 | truncatechars:8 }}</h5>
                                </div>
                            </a>
                        {% endfor %}
                {% else %}
                    <p>No members available.</p>
                {% endif %}
            </div>
        </div>
       <div class="ranking-switch-row">
            <button class="switch-button" id="show_articles">공연 보기</button>
            <button class="switch-button" id="show_community">태그한 글 보기</button>
            <button class="switch-button" id="show_sings">노래 보기</button>
        </div>
        <div class="community_and_swiper">
            <!-- Swiper Container -->
            <div class="swiper-container">
                <div class="community-header">
                    <h2>다가오는 공연</h2>
                    <a href="{% url 'articleapp:list' %}?search_field=artist&search_keyword={{ target_artist.title|urlencode }}" class="view-all-community-btn">더보기</a>
                </div>
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper">
                    <!-- Swiper Slides -->
                    {% for article in all_articles %}
                    <div class="swiper-slide">
                        <a href="{% url 'articleapp:detail' pk=article.pk %}">
                             {% include 'snippets/mini_article_card.html' with article=article %}
                        </a>
                        <!-- Your slide content -->
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="community">
                <div class="community-header">
                    <h2>아티스트 관련 글</h2>
                    <a href="{% url 'communityapp:list' %}?search_field=artist&search_keyword={{ target_artist.title|urlencode }}" class="view-all-community-btn">더보기</a>
                </div>
                {% if community_articles %}
                    <div class="table-responsive">
                        {% for object in community_articles %}
                        <div data-href="{% url 'communityapp:detail' pk=object.pk %}" onclick="window.location=this.getAttribute('data-href');" class="community-item">
                            <div class="top-line">
                                <h2>{{ object.title }}</h2>
                                <div class="likes">
                                    <span class="material-icons">favorite</span>
                                    <span class="like_count">{{ object.like }}</span>  
                                </div>
                            </div>
                            <div class="bottom-line">
                                <span class="author">작성자: {{ object.writer.username }}</span>
                                <span class="created-at"> 
                                    {% if object.created_at|date:"Y-m-d" == today %}
                                        {{ object.created_at|date:"g:i A" }} <!-- 오늘이면 시간만 표시 -->
                                    {% else %}
                                        {{ object.created_at|date:"y.m.d" }} <!-- 오늘이 아니면 날짜와 시간 표시 -->
                                    {% endif %}
                                </span>
                                <span class="views">조회수: {{ object.views }}</span>
                                <span class="comments">댓글: {{ object.comment_count }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- 페이지네이션 컨트롤 -->
                    <div style="text-align:center; margin-top:20px;">
                        {% if community_articles.has_previous %}
                            <a href="?community_page={{ community_articles.previous_page_number }}&current_section=community" class="btn btn-primary">&laquo; 이전</a>
                        {% endif %}

                        <span class="current-page">페이지 {{ community_articles.number }} / {{ community_articles.paginator.num_pages }}</span>

                        {% if community_articles.has_next %}
                            <a href="?community_page={{ community_articles.next_page_number }}&current_section=community" class="btn btn-primary">다음 &raquo;</a>
                        {% endif %}
                    </div>

                {% else %}
                    <p>이 Artist를 태그한 Community 글이 없습니다.</p>
                {% endif %}
            </div>
            <div class="sing_list">
                <div class="community-header">
                    <h2>노래 목록</h2>
                    <a href="{% url 'singapp:list' %}?search_field=artist&search_keyword={{ target_artist.title|urlencode }}" class="view-all-community-btn">더보기</a>
                </div>
                {% if sings %}
                    <div class="table-responsive">
                        {% for sing in sings %}
                        <div data-href="{% url 'singapp:detail' pk=sing.pk %}" onclick="window.location=this.getAttribute('data-href');" class="community-item">
                            <div class="top-line">
                                <h2>{{ sing.title }}</h2>
                                <div class="likes">
                                    <span class="material-icons">favorite</span>
                                    <span class="like_count">{{ sing.like }}</span>  
                                </div>
                            </div>
                            <div class="bottom-line">
                                <span class="author">작성자: {{ sing.artist }}</span>
                                <span class="views">조회수: {{ sing.views }}</span>
                                <span class="comments">댓글: {{ sing.comment_count }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- 페이지네이션 컨트롤 -->
                    <div style="text-align:center; margin-top:20px;">
                        {% if sings.has_previous %}
                            <a href="?sing_page={{ sings.previous_page_number }}&current_section=sings" class="btn btn-primary">&laquo; 이전</a>
                        {% endif %}

                        <span class="current-page">페이지 {{ sings.number }} / {{ sings.paginator.num_pages }}</span>

                        {% if sings.has_next %}
                            <a href="?sing_page={{ sings.next_page_number }}&current_section=sings" class="btn btn-primary">다음 &raquo;</a>
                        {% endif %}
                    </div>

                {% else %}
                    <p>이 Artist의 노래가 없습니다.</p>
                {% endif %}
            </div>
        </div>
        <div class="ranking-switch-row">
            <button class="switch-button-2" id="show_hot_user">기여 유저 랭킹</button>
            <button class="switch-button-2" id="show_hot_artist">아티스트 랭킹</button>
        </div>
        <div class="hot_user_and_artist">
            <div class="hot_user_list">
                <table class="ranking-table-content">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in top_users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ log.user.username }}</td>
                                <td>{{ log.points_used }}</td>
                            </tr>
                        {% endfor %}
                        {% for i in "123456789" %}
                            {% if forloop.counter > top_users|length %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>---</td>
                                    <td>0</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% if user.is_authenticated %}
                            <tr class="current-user-row">
                                <td>{{ current_user_rank }}</td>
                                <td>{{ current_user_log.user.username }}</td>
                                <td>{{ current_user_log.points_used }}</td>
                            </tr>
                        {% else %}
                            <tr class="current-user-row">
                                <td colspan="3">You are not logged in.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="hot_artist_list">
                <div class="ranking-section">
                    <table class="ranking-table-content">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Artist</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for artist in hot_rankings %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ artist.title }}</td>
                                    <td>{{ artist.hot_point }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="current-user-row">
                                <td>{{ current_artist_rank }}</td>
                                <td>{{ target_artist.title }}</td>
                                <td>{{ current_artist_hot_points }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modify">
         <a href="{% url 'artistapp:artist-update-logs' pk=target_artist.pk %}"
           class= "btn btn-primary rounded-pill col-3">
        UpdateLOG 
        </a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'artistapp:update' pk=target_artist.pk %}"
           class= "btn btn-primary rounded-pill col-3">
        Update 
        </a>
        {% else %}
        <a class="loginButton btn btn-primary rounded-pill col-3" href="#">
        Update 
        </a>
        {% endif %}
        {% if target_artist.writer == user %}
         <a href="{% url 'artistapp:delete' pk=target_artist.pk %}"
            class= "btn btn-danger rounded-pill col-3">
        Delete
        </a>
        {% endif %}
    </div>
    <div class="update_and_create">        
        {% if user.is_authenticated %}
        <div class= "text-center mb-5;" style="margin: 2rem">

            {% if not subscription %}
                <a href="{% url 'subscribeapp:A_subscribe' %}?artist_pk={{ target_artist.pk }}"
                   class="btn btn-primary rounded-pill px-4">
                    Subscribe
                </a>
            {% else %}
                <a href="{% url 'subscribeapp:A_subscribe' %}?artist_pk={{ target_artist.pk }}"
                   class="btn btn-danger rounded-pill px-4">
                    UnSubscribe
                </a>

            {% endif %}
            </div>
        {% endif %}
    </div>
</div>
<div class="text-center" style="height: 2rem; margin: 4rem auto;">
    <a href="{% url 'likeapp:artist_like' pk=target_artist.pk %}">
        <i style="vertical-align: middle; font-size: 3rem; color: #f77" class="material-icons">
            favorite
        </i>
    </a>
    <span style="vertical-align: middle; font-size: 1.2rem;">
        {{ target_artist.like }}
    </span>
    {% if can_use_points %}
        <button type="button" onclick="openHotPointModal()" class="icon-button">
            <i style="vertical-align: middle; font-size: 3rem; color: #f77" class="material-icons">
                whatshot
            </i>
        </button>
    {% else %}
        <button type="button" class="icon-button" onclick="alert('이 아티스트는 최근 1년 동안 명예의 전당에 올라 포인트를 사용할 수 없습니다.');">
            <i style="vertical-align: middle; font-size: 3rem; color: #f77" class="material-icons">
                whatshot
            </i>
        </button>
    {% endif %}
    <span style="vertical-align: middle; font-size: 1.2rem;">
        {{ target_artist.hot_point }}
    </span>
</div>
<div id="hotPointModal" class="hot_modal">
    <div class="hot_modal-content">
        <span class="hot_modal-close" onclick="closeHotPointModal()">&times;</span>
        <h2>Hot 포인트 사용하기</h2>
        <form id="hotPointForm" method="post" action="{% url 'artistapp:use_points' artist_id=target_artist.pk %}">
            {% csrf_token %}
            <label for="points_to_use">사용할 포인트:</label>
            <input type="number" id="points_to_use" name="points_to_use" min="10" step="10" required>
            <button type="submit" class="hot_modal-btn">사용하기</button>
        </form>
    </div>
</div>
<div class="comment-section">
    <span>댓글 수: {{ target_artist.comment_count }}</span>
    <span>조회 수: {{ target_artist.views }}</span>
    <div class="make">
    {% include 'commentapp/create.html' with content_type_id=content_type_id object_id=object_id %}
    </div>
    <div class="sorting-buttons">
        <a href="{{ request.path }}?sort=recent&page=1">최신순</a>
        <a href="{{ request.path }}?sort=likes&page=1">좋아요순</a>
    </div>

    <!-- 페이지네이션된 댓글 목록 -->
    <div class="comment">
        {% for comment in comments %}
            {% include 'commentapp/detail.html' with comment=comment %}
        {% empty %}
            <p>댓글이 없습니다.</p>
        {% endfor %}
    </div>

    <!-- 페이지네이션 링크 -->
    <div class="pagination">
        {% if comment_page_obj.has_previous %}
            <a href="?sort={{ sort }}&page=1">&laquo; 처음</a>
            <a href="?sort={{ sort }}&page={{ comment_page_obj.previous_page_number }}">이전</a>
        {% endif %}
        <span class="current-page">{{ comment_page_obj.number }}/{{ comment_page_obj.paginator.num_pages }}</span>
        {% if comment_page_obj.has_next %}
            <a href="?sort={{ sort }}&page={{ comment_page_obj.next_page_number }}">다음</a>
            <a href="?sort={{ sort }}&page={{ comment_page_obj.paginator.num_pages }}">마지막 &raquo;</a>
        {% endif %}
    </div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
     var initialSlideIndex = {{ initial_slide_index }}; // Django 템플릿에서 변수 전달
    // Swiper 인스턴스 생성 및 구성
    var swiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: false,
        centeredSlides: true,
        slidesPerView: 1,
        spaceBetween: 30,
        initialSlide: initialSlideIndex, // 초기 슬라이드 인덱스 설정
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const showCommunityBtn = document.getElementById('show_community');
    const showArticlesBtn = document.getElementById('show_articles');
    const showSingsBtn = document.getElementById('show_sings');
    const communitySection = document.querySelector('.community');
    const articlesSection = document.querySelector('.swiper-container');
    const singsSection = document.querySelector('.sing_list');

    function toggleActiveClass(activeBtn) {
        showCommunityBtn.classList.remove('active');
        showArticlesBtn.classList.remove('active');
        showSingsBtn.classList.remove('active');
        activeBtn.classList.add('active');
    }

    function displaySection(section) {
        communitySection.style.display = 'none';
        articlesSection.style.display = 'none';
        singsSection.style.display = 'none';

        if (section === 'community') {
            communitySection.style.display = 'block';
            toggleActiveClass(showCommunityBtn);
        } else if (section === 'articles') {
            articlesSection.style.display = 'block';
            toggleActiveClass(showArticlesBtn);
        } else if (section === 'sings') {
            singsSection.style.display = 'block';
            toggleActiveClass(showSingsBtn);
        }
    }

    function setupEventListeners() {
        showCommunityBtn.addEventListener('click', function () {
            displaySection('community');
        });

        showArticlesBtn.addEventListener('click', function () {
            displaySection('articles');
        });

        showSingsBtn.addEventListener('click', function () {
            displaySection('sings');
        });
    }

    function checkInitialSection() {
        // URL에서 현재 섹션 읽어오기
        const urlParams = new URLSearchParams(window.location.search);
        const currentSection = urlParams.get('current_section');
        displaySection(currentSection || 'articles'); // URL 파라미터에 따라 섹션 표시, 기본값은 articles
    }

    setupEventListeners();
    checkInitialSection(); // 초기 로드 시 실행
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const showHotUserBtn = document.getElementById('show_hot_user');
    const showHotArtistBtn = document.getElementById('show_hot_artist');
    const hotUserList = document.querySelector('.hot_user_list');
    const hotArtistList = document.querySelector('.hot_artist_list');

    function toggleActiveClass(activeBtn) {
        showHotUserBtn.classList.remove('active');
        showHotArtistBtn.classList.remove('active');
        activeBtn.classList.add('active');
    }

    function displaySection(section) {
        hotUserList.style.display = 'none';
        hotArtistList.style.display = 'none';

        if (section === 'hot_user') {
            hotUserList.style.display = 'block';
            toggleActiveClass(showHotUserBtn);
        } else if (section === 'hot_artist') {
            hotArtistList.style.display = 'block';
            toggleActiveClass(showHotArtistBtn);
        }
    }

    function setupEventListeners() {
        showHotUserBtn.addEventListener('click', function () {
            displaySection('hot_user');
        });

        showHotArtistBtn.addEventListener('click', function () {
            displaySection('hot_artist');
        });
    }

    function checkInitialSection() {
        // URL에서 현재 섹션 읽어오기
        const urlParams = new URLSearchParams(window.location.search);
        const currentSection = urlParams.get('current_section');
        displaySection(currentSection || 'hot_user'); // URL 파라미터에 따라 섹션 표시, 기본값은 hot_user
    }

    setupEventListeners();
    checkInitialSection(); // 초기 로드 시 실행
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var projectContainer = document.querySelector('.artist_container');
    var projectImage = projectContainer.querySelector('img'); // 이미지 요소 접근
    var projectDescriptions = document.querySelector('.artist-descriptions');
    var righter = document.querySelector('.righter');
    var openDescriptionsBtn = document.querySelector('.open-descriptions button');

    function adjustHeight() {
        var projectImageHeight = projectImage.offsetHeight; // 이미지의 동적 높이 가져오기

        if (window.matchMedia('(max-width: 1100px)').matches) {
            // 1100px 이하일 때 설정
            projectDescriptions.style.minHeight = '300px';
            projectDescriptions.style.maxHeight = '300px';
            projectContainer.style.minHeight = (projectImageHeight + 500) + 'px'; // 이미지 높이 + 700px
        } else {
            // 그 외의 화면 크기에 대한 설정
            var righterHeight = righter.offsetHeight;
            var descriptionsHeight = righterHeight - projectImageHeight - 195;
            
            projectContainer.style.minHeight = righterHeight + 'px';
            projectDescriptions.style.minHeight = descriptionsHeight + 'px';
            projectDescriptions.style.maxHeight = descriptionsHeight + 'px';
        }
        
        checkContentOverflow();
    }

    function toggleDescriptions() {
        if (projectDescriptions.style.maxHeight !== "none") {
            projectDescriptions.style.maxHeight = "none";
            projectDescriptions.style.overflowY = "visible";
            openDescriptionsBtn.textContent = "접기";
        } else {
            adjustHeight();
            projectDescriptions.style.overflowY = "auto";
            openDescriptionsBtn.textContent = "펼치기";
        }
    }

    function checkContentOverflow() {
        if (projectDescriptions.scrollHeight > projectDescriptions.offsetHeight) {
            openDescriptionsBtn.style.display = "block";
        } else {
            openDescriptionsBtn.style.display = "none";
        }
    }

    // openDescriptionsBtn이 존재할 경우에만 이벤트 리스너를 추가
    if (openDescriptionsBtn) {
        openDescriptionsBtn.addEventListener('click', toggleDescriptions);
    }

    window.addEventListener('load', adjustHeight); // 이미지 로드 완료 후 높이 조정
    window.addEventListener('resize', adjustHeight); // 창 크기 변경 시 높이 재조정
});
</script>
<script>
$(document).ready(function(){
    // 댓글 컨테이너에 대한 클릭 이벤트 위임
    $('.comment').on('click', 'button.like-button', function(e){
        e.preventDefault();
        var commentId = $(this).data('id');
        var csrftoken = $('[name=csrfmiddlewaretoken]').val();

        $.ajax({
            type: 'POST',
            url: '/comments/like_comment/' + commentId + '/',
            data: {
                csrfmiddlewaretoken: csrftoken,
            },
            success: function(response){
                $('#like-count-' + commentId).text(response.total_likes);
                if(response.liked){
                    $('#like-icon-' + commentId).css('color', 'red');
                } else {
                    $('#like-icon-' + commentId).css('color', 'grey');
                }
            },
            error: function(xhr, status, error){
                alert('Something went wrong: ' + error);
            }
        });
    });

    // 싫어요 버튼 이벤트 위임
    $('.comment').on('click', 'button.dislike-button', function(e){
        e.preventDefault();
        var commentId = $(this).data('id');
        var csrftoken = $('[name=csrfmiddlewaretoken]').val();

        $.ajax({
            type: 'POST',
            url: '/comments/dislike_comment/' + commentId + '/',
            data: {
                csrfmiddlewaretoken: csrftoken,
            },
            success: function(response){
                $('#dislike-count-' + commentId).text(response.total_dislikes); // 싫어요 개수 업데이트
                if(response.disliked){
                    $('#dislike-icon-' + commentId).css('color', 'blue'); // 싫어요 눌린 상태로 스타일 변경
                } else {
                    $('#dislike-icon-' + commentId).css('color', 'grey'); // 싫어요 눌리지 않은 상태로 스타일 변경
                }
            },
            error: function(xhr, status, error){
                alert('Something went wrong: ' + error);
            }
        });
    });
});

</script>
<script>
function openHotPointModal() {
    document.getElementById('hotPointModal').style.display = 'flex';
}

function closeHotPointModal() {
    document.getElementById('hotPointModal').style.display = 'none';
}
</script>
{% endblock %}