{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load bootstrap4 %}
{% load socialaccount %}
<style>

.entire_main{
    width:1300px;
    margin: 0 auto;
    padding: 0;
    display: flex; /* 플렉스 컨테이너로 만들어 줍니다. */ /* 요소들이 컨테이너를 벗어나지 않도록 줄바꿈 설정 */
    justify-content: space-between; /* 내용을 양쪽 끝으로 정렬 */
}
.left_main{
    min-width: 950px;
    max-width: 950px;
}
.right_main{
    margin-top: 30px;
    min-width: 300px;
    max-width: 300px;
    border-radius: 1rem; /* 모서리 둥글기 */
    margin-left:20px;
}
    
.banner {
    min-width: 950px;
    max-width: 950px;
    margin: 0 auto;
    height: 300px; /* 배너의 높이. 실제 광고 크기에 맞춰 조정해야 할 수 있음 */
    border-radius: 1rem; /* 모서리 둥글기 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; /* 아래 요소와의 여백 */
    margin-top:30px;
}    
.banner-image {
    max-width: 100%; /* 컨테이너 너비를 초과하지 않음 */
    max-height: 100%; /* 컨테이너 높이를 초과하지 않음 */
    border-radius: 1rem; /* 이미지의 모서리 둥글기 */
}
.entire-container {
    min-width: 950px;
    max-width: 950px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 1rem; /* 모서리를 둥글게 */
    background-color:#f8f9fa;
}
.article_container {
    min-width:950px;
    margin: 0 auto;
    padding: 0;
    display: flex; /* 플렉스 컨테이너로 만들어 줍니다. */ /* 요소들이 컨테이너를 벗어나지 않도록 줄바꿈 설정 */
    justify-content: flex-start; /* 요소들을 왼쪽 정렬 */
    
}
.article_container div {
    display: flex;
    justify-content: left;
    border-radius: 1rem;
}
    
.container-card-link {
    width: 45%;
    max-width: 250px;
    margin: 0px; /* 상하좌우 마진 추가 */
}
.more-button {
    color: #000000; /* 텍스트 색상 */
    font-size: 20px; /* 텍스트 크기 */
    padding: 10px; /* 내부 여백 */
    border-radius: 5px; /* 둥근 모서리 */
    width:100px;
}
/* 공연 관련 글 헤더 스타일 */
.article-header, .artist-header, .stage-header {
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: space-between; /* 내용을 양쪽 끝으로 정렬 */
    align-items: center; /* 세로 축 중앙 정렬 */
    margin-bottom: 20px; /* 하단 여백 추가 */
}
.artist_and_stage{
    display: flex; /* Flex 컨테이너 설정 */
    justify-content: space-between; /* 자식 요소를 양 끝으로 정렬 (중앙 정렬이 필요하다면 center를 사용) */
    align-items: flex-start; /* 세로 축에서 상단 정렬 */
    width: 950px; /* 전체 너비 */
    margin: auto; /* 자동 마진으로 중앙 정렬 */
    margin-top:30px;
}

.artist_box, .stage_box {
    width: 48%; /*박스가 전체 너비의 절반을 차지하도록 설정 */
    height: 100%; /* 필요에 따라 높이를 설정할 수 있습니다 */
    background-color: #f8f9fa; /* 배경색 설정 */
    height:550px;
    border-radius: 1rem; /* 모서리 둥글기 */
    padding: 20px;

}
.artist_container, .stage_container {
    margin: 0 auto;
    padding: 0;
    display: flex; /* 플렉스 컨테이너로 만들어 줍니다. */ /* 요소들이 컨테이너를 벗어나지 않도록 줄바꿈 설정 */
    justify-content: flex-start; /* 요소들을 왼쪽 정렬 */
    flex-wrap: wrap; /* 요소들이 컨테이너를 벗어나지 않도록 줄바꿈 설정 */
}

.artist_container a, .stage_container a  {
    flex: 0 0 30%; /* flex-grow, flex-shrink, flex-basis */
    box-sizing: border-box; /* 패딩과 보더를 너비에 포함 */
    margin: 1%; /* 각 요소 사이의 마진 */
    text-align: center; /* 내용을 중앙 정렬 */
    border-radius: 1rem;
    padding: 15px; /* 내부 패딩 */
    background-color: #FFFFFF; /* 배경색 */
    height: 200px; /* 카드의 높이, 필요에 따라 조정 */
}

.artist_container img, .stage_container img {
    width: 100%; /* 이미지를 a 태그의 너비에 맞춤 */
    height: 7rem; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
    object-fit: cover; /* 이미지 비율 유지 */
    border-radius: 1rem; /* 이미지 모서리 둥글기 */
    border-radius: 1rem; /* 이미지 모서리 둥글기 */
    }
/* =====================================================calendar========================================*/
.popup-background {
    position: fixed; /* 화면에 고정 */
    z-index: 1050; /* 충분히 높은 z-index 값으로 다른 요소 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* 반투명 배경 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 - Flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 - Flexbox 사용 */
    overflow: auto; /* 내용이 화면을 초과할 경우 스크롤 가능 */
}

.popup-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* 너비를 50%로 설정 */
    max-width: 800px; /* 최대 너비를 픽셀로 설정 */
    max-height: 80vh; /* 화면 높이의 80%로 제한하여 팝업이 화면을 벗어나지 않도록 함 */
    overflow-y: auto; /* 내용이 많으면 세로 스크롤 활성화 */
    z-index: 1051; /* popup-background보다 높은 z-index */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    position: fixed; /* 화면에 고정된 위치 */
    top: 50%; /* 상단에서 50% 위치 */
    left: 50%; /* 왼쪽에서 50% 위치 */
    transform: translate(-50%, -50%); /* 자신의 크기에 따라 정확히 중앙에 위치 */
    border-radius: 10px; /* 테두리 둥글게 추가 (선택사항) */
}

.close-button {
    color: #aaa;
    position: absolute; /* 절대 위치 */
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

.calendar-container{
    min-width:950px;
    max-width:950px;
    height:1000px;
    margin: 0 auto;
    padding: 0;
    border-radius: 1rem; /* 이미지 모서리 둥글기 */
    background-color:#f8f9fa;
    padding: 15px; /* 내부 패딩 */
    margin-top:30px;
}
/* 이벤트 제목과 시간 텍스트 크기 조정 */
.fc-event-main {
    font-size: 15px; /* 폰트 크기를 늘립니다. 필요에 따라 조정하세요. */
}

/* 이벤트 컨테이너 크기 조정이 필요한 경우 */
.fc-event {
    border: 1px solid #67D5B5; /* 테두리 색상을 연한 청록색으로 설정 */
    background-color: #67D5B5; /* 배경색을 연한 청록색으로 변경 */
    font-size: 1.2rem; /* 폰트 크기를 늘립니다. */
}
.fc-view-harness{
    height:800px !important;
}
/* =====================================================calendar========================================*/
/* ======================================================righter========================================*/
.login-main, .user-info{
    background-color: #f8f9fa; /* 배경색 설정 */
    width:100%;
    height:300px;
    border-radius: 1rem; /* 모서리 둥글기 */
    padding: 15px;  
}    
.login-main h4{
    font-family: "Poetsen One", sans-serif;
}
.sign_and_find{
    text-align:center; 
    justify-content: space-between; 
    display: flex; 
    margin-top:15px;
}
/* Container for allauth login icons */
.allauth-login-icon {
    display: flex;
    justify-content: center;
    gap: 37px; /* 간격 조절 */
    margin-top: 10px;
}

/* Individual social login button styles */
.allauth-login-icon div {
    width: 63px; /* 버튼 크기 */
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* 기본 배경색 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 그림자 효과 */
    transition: transform 0.3s ease; /* 호버 효과 */
}
/* Remove underline and set font color for links */
.allauth-login-icon a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Icons background color (for demo purposes) */
.allauth-login-icon .google {
    background-color: #fff;
}

.allauth-login-icon .naver {
    background-color: #00bf18;
}

.allauth-login-icon .kakao {
    background-color: #fee500;
}

.allauth-login-icon .facebook {
    background-color:  #1877f2;
}
.allauth-login-icon .google img {
    width: 80%; /* 이미지 크기를 조정 */
    height: 80%; /* 이미지 크기를 조정 */
    object-fit: contain; /* 이미지 비율을 유지하면서 버튼 안에 맞춤 */
}
.allauth-login-icon .naver img {
    width: 90%; /* 이미지 크기를 조정 */
    height: 90%; /* 이미지 크기를 조정 */
    object-fit: contain; /* 이미지 비율을 유지하면서 버튼 안에 맞춤 */
}
.allauth-login-icon .kakao img {
    width: 90%; /* 이미지 크기를 조정 */
    height: 90%; /* 이미지 크기를 조정 */
    object-fit: contain; /* 이미지 비율을 유지하면서 버튼 안에 맞춤 */
}
.allauth-login-icon .facebook img {
    width: 90%; /* 이미지 크기를 조정 */
    height: 90%; /* 이미지 크기를 조정 */
    object-fit: contain; /* 이미지 비율을 유지하면서 버튼 안에 맞춤 */
}
.community_list_main{
    background-color: #f8f9fa; /* 배경색 설정 */
    width:100%;
    height:500px;
    border-radius: 1rem; /* 모서리 둥글기 */
    padding: 20px;  
    margin-top:30px;
}    
.archive_list_main{
    background-color: #f8f9fa; /* 배경색 설정 */
    width:100%;
    height:300px;
    border-radius: 1rem; /* 모서리 둥글기 */
    padding: 20px;  
    margin-top:30px;
}    
.community-header {
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: space-between; /* 내용을 양쪽 끝으로 정렬 */
    align-items: center; /* 세로 축 중앙 정렬 */
    margin-bottom: 20px; /* 하단 여백 추가 */
}
.table th.short, .table td.short {
        width: 20%; /* 다른 열의 너비를 짧게 설정 */
    }
input[type="password"] {
    -webkit-appearance: textfield;
}
/* ================아티스트 랭킹 디자인 ================== */
.hot_artist_list_main{
    width:100%;
    height:540px;
    margin-top:30px;
    padding: 0px;  
}  
.ranking-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ranking-table {
    width: 100%;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
    border-radius: 1rem; /* 모서리 둥글기 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}
.ranking-table-head .ranking-table-row:first-child .ranking-table-cell:first-child {
    border-top-left-radius: 1rem;
}

.ranking-table-head .ranking-table-row:first-child .ranking-table-cell:last-child {
    border-top-right-radius: 1rem;
}

.ranking-table-body .last-row .ranking-table-cell:first-child {
    border-bottom-left-radius: 1rem;
}

.ranking-table-body .last-row .ranking-table-cell:last-child {
    border-bottom-right-radius: 1rem;
}
.ranking-table-head, .ranking-table-body {
    display: flex;
    flex-direction: column;
}
.ranking-table-row {
    display: flex;
    width: 100%;
}

.ranking-table-cell {
    padding: 12.5px;
    text-align: left;
    display: flex; 
    align-items: center;
}

.ranking-table-head .ranking-table-cell {
    background-color: #494c4d; /* 헤더 배경색 */
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative; /* 툴팁 상대 위치 설정 */
}

.ranking-table-body .ranking-table-row:nth-child(even) {
    background-color: #f9f9f9;
}

.ranking-table-body .ranking-table-row:nth-child(odd) {
    background-color: #fefefe;
}

.ranking-table-body .ranking-table-row:hover {
    background-color: #f1f1f1;
}
/* 툴팁 스타일 */
.tooltip-icon {
    position: relative;
    cursor: pointer;
}

/* 툴팁 스타일 */
.tooltip-icon {
    position: relative;
    cursor: pointer;
}

.tooltip-icon .tooltip-text {
    visibility: hidden;
    width: 250px; /* 말풍선 너비 */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    font-size: 12px; /* 작은 폰트 사이즈 */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 말풍선을 위에 표시 */
    left: 50%;
    margin-left: -200px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: normal; /* 줄바꿈 설정 */
    line-height: 1.5em; /* 줄 간격 설정 */
}

.tooltip-icon .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* 아래쪽에 삼각형 추가 */
    left: 80%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
/* 팝업 스타일 */
.notice-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.notice-popup-content {
    background: white;
    padding: 20px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}
.notice-popup-content h2 {
    margin-top: 0;
}
.notice-popup-button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 1350px) {
    .entire_main {
        flex-direction: column;  /* 플렉스 컨테이너의 방향을 세로로 변경 */
        align-items: center;     /* 중앙 정렬로 조정 */
        width:100%;
    }
    .right_main {
        order: 2;  /* left_main 아래로 이동 */
        width: 100%;  /* 너비를 100%로 설정하여 부모 컨테이너의 전체 너비를 차지하도록 함 */
        max-width: none; /* 최대 너비 제한 해제 */
        align-items: center;     /* 중앙 정렬로 조정 */
        min-width:950px;
        margin-left:0px;
    }
    .left_main {
        order: 1;  /* 원래 순서 유지 */
        width: 100%;  /* 너비를 100%로 설정 */
    }
    .login_and_porfile_main {
        display: none;  /* 컨테이너 숨기기 */
    }
    .info_list_new{
        width:950px;
        display: flex;
        justify-content: space-between; /* 요소들을 컨테이너의 양 끝과 중간에 균등하게 배치 */
        align-items: flex-start; /* 요소들이 상단에서 정렬되도록 설정 */
        margin: 0 auto; /* 중앙 정렬을 위한 자동 마진 */
    }      
    .community_list_main{
        width:300px;
        
    }
    .archive_list_main{
        width:300px;
    }
}
@media (max-width: 1023px) {
    .entire_main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .left_main, .right_main {
        width: 100%;
        max-width: 100%;  /* 컨테이너 너비를 최대 100%로 설정 */
        min-width:100%;
        order: 0;  /* 순서를 초기화 */
    }
    .info_list_new {
        flex-direction: column;  /* 요소들을 세로로 배열 */
        width: 90%;  /* 전체 너비 사용 */
        align-items: center;  /* 모든 아이템을 중앙에 정렬 */
    }
    .community_list_main, .archive_list_main {
        width: 90%;  /* 커뮤니티와 아카이브 리스트 너비를 확장 */
        margin: 10px auto;  /* 상하 마진 추가로 각 요소들 사이의 여백 확보 */
        padding: 10px;  /* 내부 패딩 추가 */
    }
    .login_and_porfile_main {
        display: none;  /* 로그인 및 프로필 메인 섹션 숨기기 */
    }
    .banner {
        min-width: 90%;  /* 최소 너비를 100%로 설정 */
        max-width: 90%;  /* 최대 너비도 100%로 설정 */
        height: auto;  /* 높이를 자동으로 조정 */
        margin: 0 auto;
        margin-bottom: 2rem;  /* 아래 요소와의 여백 유지 */
        margin-top: 30px;  /* 위 요소와의 여백 유지 */
        padding: 10px;  /* 패딩 추가로 내부 여유 공간 확보 */
    }
    .banner-image {
        width: 100%;  /* 이미지 너비를 컨테이너에 맞춤 */
        height: auto;  /* 이미지 높이를 비율에 맞게 조정 */
    }  
    .entire-container {
        min-width: 90%;  /* 최소 너비를 100%로 설정 */
        max-width: 90%;  /* 최대 너비도 100%로 설정 */
        padding: 10px;  /* 패딩 조정 */
    }
    .article_container {
        min-width:100%;
        max-width:100%;
        display: flex;
        flex-wrap: wrap;  /* 내용이 넘치면 다음 줄로 넘김 */
        justify-content: space-around;  /* 요소들을 공간에 맞게 균등하게 배치 */
    }
    .container-card-link {
        max-width:300px;  /* 너비를 줄여서 한 줄에 두 개씩 표시 */
        min-width:300px;
        margin: 5px;  /* 마진으로 요소들 사이의 공간 생성 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        
    }
    .artist_and_stage {
        flex-direction: column;  /* 요소들을 세로로 나열 */
        width: 100%; /* 전체 너비 사용 */
    }

    .artist_box, .stage_box {
        width: 90%; /* 박스 너비를 90%로 설정 */
        margin: 5% auto; /* 상하 자동 마진으로 중앙 정렬과 여백 제공 */
        height: auto; /* 높이를 내용에 따라 자동 조정 */
    }

    .artist_container, .stage_container {
        justify-content: center; /* 내용을 중앙 정렬 */
    }
    .artist_container img, .stage_container img {
        width:150px;
    }
    .calendar-container {
        max-width: 90%; /* 최대 너비를 화면 너비에 맞춤 */
        min-width: 90%; /* 최소 너비를 화면 너비에 맞춤 */
        height: auto; /* 높이를 내용에 따라 자동 조정 */
        padding: 15px; /* 내부 패딩 유지 */
        margin-top: 30px; /* 상단 마진 유지 */
    }
    .popup-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* 내용에 맞는 자동 너비 */
        max-width: 50%; /* 최대 너비 설정 */
        z-index: 1051; /* popup-background보다 높은 z-index */
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* 그림자 효과 */
        position: fixed; /* 화면에 고정된 위치 */
        top: 50%; /* 상단에서 50% 위치 */
        left: 50%; /* 왼쪽에서 50% 위치 */
        transform: translate(-50%, -50%); /* 자신의 크기에 따라 정확히 중앙에 위치 */
        max-height: 80vh; /* 화면 높이의 80%로 제한하여 팝업이 화면을 벗어나지 않도록 함 */
    }
}
@media (max-width: 768px) {
.container-card-link {
        max-width:240px;  /* 너비를 줄여서 한 줄에 두 개씩 표시 */
        min-width:240px;
        margin: 5px;  /* 마진으로 요소들 사이의 공간 생성 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        
    }
.calendar-container{
    display:none;
    }
}
@media (max-width: 600px) {
    .artist_container img, .stage_container img {
        width:120px;
    }
    .artist_container a, .stage_container a  {
        flex: 0 0 48%; /* flex-grow, flex-shrink, flex-basis */
        height: 200px; /* 카드의 높이, 필요에 따라 조정 */
    }
    .container-card-link {
        max-width:190px;  /* 너비를 줄여서 한 줄에 두 개씩 표시 */
        min-width:190px;
        margin: 5px;  /* 마진으로 요소들 사이의 공간 생성 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        
    }
}
@media (max-width: 500px) {
    .container-card-link {
        max-width:150px;  /* 너비를 줄여서 한 줄에 두 개씩 표시 */
        min-width:150px;
        margin: 5px;  /* 마진으로 요소들 사이의 공간 생성 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
    }
@media (max-width: 450px) {
    .artist_container img, .stage_container img {
        width:90px;
    }
    .artist_container a, .stage_container a  {
        flex: 0 0 48%; /* flex-grow, flex-shrink, flex-basis */
        height: 170px; /* 카드의 높이, 필요에 따라 조정 */
    }
}
@media (max-width: 400px) {
    .container-card-link {
        max-width:125px;  /* 너비를 줄여서 한 줄에 두 개씩 표시 */
        min-width:125px;
        margin: 5px;  /* 마진으로 요소들 사이의 공간 생성 */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
}
@media (max-width: 350px) {
    .artist_container img, .stage_container img {
        width:60px;
    }
}
</style>
<div class="entire_main">
    <div class="left_main">
        <div class="banner">
            <img src="{% static 'defalut_image/indieboost_default_banner.png' %}" alt="배너 광고" class="banner-image">
        </div>
        <div class="entire-container">
            <div class="article-header">
                <h2>다가오는 공연</h2>
                <a href="{% url 'articleapp:list' %}" class="more-button">더보기</a>
            </div>
            <div class="article_container">
                {% for article in latest_articles %}
                    <div class="container-card-link">
                        <a class="container-card-link-a" href="{% url 'articleapp:detail' pk=article.pk %}">
                            {% include 'snippets/home_article.html' with article=article %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="artist_and_stage">
            <div class="artist_box">
                <div class="artist-header">
                    <h2>인기 아티스트</h2>
                    <a href="{% url 'artistapp:list' %}" class="more-button">더보기</a>
                </div>
                <div class="artist_container">
                    {% for artist in popular_artists %}
                    <a href="{% url 'artistapp:detail' pk=artist.pk %}">
                        {% include 'snippets/card_artist.html' with artist=artist %}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="stage_box">
                <div class="stage-header">
                    <h2>인기 공연장</h2>
                    <a href="{% url 'projectapp:list' %}" class="more-button">더보기</a>
                </div>
                <div class="stage_container">
                    {% for project in popular_projects %}
                    <a href="{% url 'projectapp:detail' pk=project.pk %}">
                        {% include 'snippets/card_project.html' with project=project %}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="calendar-container">
            <div id='calendar'></div>
        </div>
    </div>
    <div class="right_main">
        <div class="login_and_porfile_main">
            {% if not user.is_authenticated %}
            <div class="login-main">
                <h4>INDIEBOOST</h4>
                <form action="{% url 'accountapp:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" id="id_username" class="form-control" placeholder="아이디" style="margin-bottom:5px;" required>
                    </div>
                    <!-- 비밀번호 입력 필드 -->
                    <div class="form-group">
                        <input type="password" name="password" id="id_password" class="form-control" placeholder="비밀번호" style="color: black;" required>
                    </div>
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="submit" class="btn btn-dark rounded-pill col-12 mt-2" value="Login">
                    <br>
                    <div class="allauth-login-icon">
                        <div class="google"><a href="{% provider_login_url 'google' %}"><img src="{% static 'defalut_image/google-login-icon.png' %}" alt="Google"></a></div>
                        <div class="naver"><a href="{% provider_login_url 'naver' %}"><img src="{% static 'defalut_image/naver-login-icon.png' %}" alt="Naver"></a></div>
                        <div class="kakao"><a href="{% provider_login_url 'kakao' %}"><img src="{% static 'defalut_image/kakao-login-icon.jpg' %}" alt="Kakao"></a></div>
                        <!-- <div class="facebook"><a href="#"><img src="{% static 'defalut_image/facebook-login-icon.png' %}" alt="Facebook"></a></div> -->
                    </div>
                    <div class="sign_and_find">
                        <div><a href="{% url 'accountapp:create' %}" class="signup-button">회원가입</a></div>
                        <div><a href="{% url 'accountapp:password_reset' %}" class="signup-button">비밀번호 찾기</a></div>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="user-info">
                <div class="profile-top">
                    <img src="{{ user.image.url }}" alt="Profile Image" class="profile-image"/>
                    <div class="profile-details">
                        <h2>{{ user.username }}</h2>
                        <h3>{{ user.nickname }}</h3>
                    </div>
                </div>
                <div class="profile-stats">
                    <div class="info_level">
                        <span class="material-icons">grade</span><span>정보레벨:{{ user.level }}</span>
                    </div>
                    <div class="points">
                        <span class="material-icons">paid</span><span>포인트:{{ user.points }}</span>
                    </div>
                    <div class="post_count">
                        <span class="material-icons">notes</span><span>작성한글:{{ user.post_count }} </span>
                    </div>
                    <div class="comment_count">
                        <span class="material-icons">chat</span><span>댓글단글:{{ user.comment_count }}</span>
                    </div>
                </div>
                <div class="profile-links">
                    <a href="{% url 'accountapp:detail' pk=user.pk %}" id="myPageButton">마이페이지</a>
                    <a href="{% url 'subscribeapp:Artist_list' %}">내 구독 관리</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="info_list_new">
            <div class="hot_artist_list_main">
                <div class="ranking-section">
                     <div class="ranking-table">
                        <div class="ranking-table-head">
                            <div class="ranking-table-row">
                                <div class="ranking-table-cell" style="width: 5%;"></div>
                                <div class="ranking-table-cell" style="width: 55%;">Artist</div>
                                <div class="ranking-table-cell" style="width: 25%;">Point</div>
                                <div class="ranking-table-cell" style="width: 15%; position: relative;">
                                    <span class="material-icons tooltip-icon">info
                                        <span class="tooltip-text">이 랭킹은 유저들이 사용한 HOT 포인트를 기준으로 한 순위입니다. HOT 포인트는 커뮤니티 및 아카이브 활동을 통해 획득할 수 있습니다. HOT 포인트는 다양한 목적으로 사용됩니다. 자세한 내용은 상세 페이지를 확인하세요.</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="ranking-table-body">
                            {% for artist in hot_artists %}
                                <div class="ranking-table-row" data-href="{% url 'artistapp:detail' artist.pk %}" style="cursor: pointer;">
                                    <div class="ranking-table-cell" style="width: 10%;">{{ forloop.counter }}</div>
                                    <div class="ranking-table-cell" style="width: 65%;">{{ artist.title|truncatechars:15 }}</div>
                                    <div class="ranking-table-cell" style="width: 25%;">{{ artist.hot_point }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="community_list_main">
            <div class="community-header">
                <h4>커뮤니티</h4>
                <a href="{% url 'communityapp:list' %}" class="view-all-community-btn">더보기</a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>

                    </thead>
                    <tbody>
                    {% for community in latest_communities %}
                        <tr>
                            <td class="title"><a href="{% url 'communityapp:detail' pk=community.pk %}">{{ community.title | truncatechars:11 }}</a></td>
                            <td class="short">{{ community.created_at|date:"Y.n.j" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="archive_list_main">
            <div class="community-header">
                <h5>신규아카이브-장르</h5>
                <a href="{% url 'genreapp:list' %}" class="view-all-community-btn">더보기</a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>

                    </thead>
                    <tbody>
                    {% for genre in latest_genres %}
                        <tr>
                            <td class="title"><a href="{% url 'genreapp:detail' pk=genre.pk %}">{{ genre.title | truncatechars:11 }}</a></td>
                            <td class="short">{{ genre.created_at|date:"Y.n.j" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="archive_list_main">
            <div class="community-header">
                <h5>신규아카이브-인물</h5>
                <a href="{% url 'personapp:list' %}" class="view-all-community-btn">더보기</a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>

                    </thead>
                    <tbody>
                    {% for person in latest_persons %}
                        <tr>
                            <td class="title"><a href="{% url 'personapp:detail' pk=person.pk %}">{{ person.title | truncatechars:11 }}</a></td>
                            <td class="short">{{ person.created_at|date:"Y.n.j" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 팝업 배경 -->
<div id="popupBackground" class="popup-background" style="display:none;"></div>

<!-- 팝업 내용 -->
<div id="popupContent" class="popup-content" style="display:none;">
    <div class="popup-header">
        <!-- 공연 상세 정보 팝업 닫기 버튼 -->
        <span class="close-button" onclick="closeContentPopup()">&times;</span>
        <h2>공연 상세 정보</h2>
    </div>
    <div class="popup-body">
        <!-- AJAX로 불러온 내용이 여기에 삽입됩니다 -->
    </div>
</div>
<div class="notice-popup" id="noticePopup">
    <div class="notice-popup-content">
        <h2>현재 사이트는 개발 중입니다!</h2>
        <p>Indieboost는 곧 공식 오픈 예정입니다. 지금은 개발 중이지만, 멋진 인디 밴드 정보와 기능들을 준비 중이니 기대해 주세요!</p>
        <!-- 공지 팝업 닫기 버튼 -->
    <button class="notice-popup-button" onclick="closeNoticePopup()">알겠습니다</button>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // FullCalendar 초기화
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'ko', // 한국어 설정
        events: '/articles/api/events', // 이벤트 데이터 API 경로
        fixedWeekCount: false,
        eventContent: function(arg) { // 이벤트 컨텐츠를 사용자 정의하는 함수
            var titleElement = document.createElement('div');
            titleElement.innerHTML = arg.event.title; // HTML로 이벤트 타이틀 설정
            return { domNodes: [titleElement] };
        },
        eventClick: function(info) {
            info.jsEvent.preventDefault();

            // 선택된 이벤트의 날짜 정보를 포맷팅합니다.
            var eventDate = new Date(info.event.start);
            var formattedDate = eventDate.toLocaleDateString('ko-KR', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            });

            // 팝업 제목을 업데이트합니다.
            document.querySelector("#popupContent .popup-header h2").textContent = `${formattedDate}의 공연`;

            // AJAX 요청으로 상세 정보 로드
            $.ajax({
                url: `/articles/calendar_detail/?date=${info.event.startStr}`, // 수정된 URL
                success: function(data) {
                    // 팝업 내용에 HTML 응답을 삽입
                    document.getElementById('popupContent').querySelector('.popup-body').innerHTML = data;
                    openPopup(); // 팝업 표시
                }
            });
        }
    });
    calendar.render();

    // 테이블 행 클릭 이벤트 추가
    const rows = document.querySelectorAll('.ranking-table-body .ranking-table-row');
    rows.forEach(row => {
        row.addEventListener('click', function () {
            const href = row.getAttribute('data-href');
            if (href) {
                window.location.href = href;
            }
        });
    });
});

// 팝업 열기
function openPopup() {
    document.getElementById("popupBackground").style.display = "block";
    document.getElementById("popupContent").style.display = "block";
}

// 팝업 닫기 (공연 상세 정보 팝업용)
function closeContentPopup() {
    document.getElementById("popupBackground").style.display = "none";
    document.getElementById("popupContent").style.display = "none";
}

</script>
<script>
    // 쿠키 설정 함수
    function setCookie(name, value, days) {
        let date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = name + "=" + value + "; expires=" + date.toUTCString() + "; path=/";
    }

    // 쿠키 가져오는 함수
    function getCookie(name) {
        let nameEQ = name + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i].trim();
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    // 팝업 표시/숨김 로직
    window.onload = function() {
        // 'popupShown' 쿠키가 없으면 팝업 표시
        if (!getCookie("popupShown")) {
            document.getElementById("noticePopup").style.display = "flex";
        }
    };

    // 팝업 닫기 함수
    function closeNoticePopup() {
        document.getElementById("noticePopup").style.display = "none";
        setCookie("popupShown", "true", 1); // 1일 동안 팝업 재표시 안 함
    }
</script>


    




{% endblock %}

