{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<style>
    .input-group {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }
    .input-group .form-control {
        flex: 1 1 auto;
        width: 1%;
        margin-right: 10px;
    }
    .editable {
        flex-grow: 2;
        border: 2px solid #000000; /* 진한 테두리 적용 */
        padding: 10px;
        min-height: 100px;
    }
</style>

<script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

<div class="create_update_delete" style="text-align: center; max-width:700px; margin: 4rem auto">
    <div class="mb-4">
        <h4>Person Update</h4>
    </div>
    <form id="update_form" action="{% url 'personapp:update' pk=target_person.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div id="dynamic_fields_container">
            <!-- 기존 데이터를 표시하는 부분 -->
            {% for description in target_person.detailed_descriptions.all %}
            <div class="input-group mb-2" id="description_{{ description.id }}">
                <input type="hidden" name="detailed_descriptions[{{ forloop.counter0 }}][id]" value="{{ description.id }}" />
                <input type="text" name="detailed_descriptions[{{ forloop.counter0 }}][name]" class="form-control" placeholder="이름" required value="{{ description.name }}" />
                <div class="editable" style="min-height: 100px;" data-placeholder="설명">{{ description.text }}</div>
                <textarea name="detailed_descriptions[{{ forloop.counter0 }}][value]" style="display:none;"></textarea>
                <div class="input-group-append">
                    <button type="button" class="btn btn-danger" onclick="deleteDescription({{ description.id }})">삭제</button>
                </div>
            </div>
            {% endfor %}
            
            <!-- 기존 데이터 표시 끝 -->
        </div>
        <button type="button" id="add_field_button" class="btn btn-info rounded-pill mt-2">+ 추가 정보</button>
        {% if target_person.hide %}
        <div class="button-row mt-3">
            <button type="submit" name="save_draft" class="btn btn-secondary rounded-pill col-5 mr-1">Save as Draft</button>
            <button type="submit" name="publish" class="btn btn-primary rounded-pill col-5 ml-1">Publish</button>
        </div>
        {% else %}
        <div class="button-row mt-3">
            <button type="submit" class="btn btn-primary rounded-pill col-12">Update</button>
        </div>
        {% endif %}
    </form>
</div>
<script>
    var descriptionTexts = [
        {% for description in target_person.detailed_descriptions.all %}
            "{{ description.text|escapejs }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
</script>
<script>
    $(document).ready(function() {
        var counter = descriptionTexts.length;

        // 기존 데이터에 대한 Medium Editor 초기화 및 동기화
        $('.editable').each(function(index) {
            var textArea = $(this).next('textarea');
            textArea.val(descriptionTexts[index]);

            var editor = new MediumEditor(this);
            editor.subscribe('editableInput', function(event, editable) {
                textArea.val(editable.innerHTML);
            });

            $(this).html(textArea.val());
        });


        // Add field button click event
        $('#add_field_button').click(function(e) {
            e.preventDefault();
            var newFieldHtml = `
                <div class="input-group mb-2" id="description_${counter}">
                    <input type="text" name="detailed_descriptions[${counter}][name]" class="form-control" placeholder="정보의 이름" required />
                    <div class="editable" style="min-height: 100px;" data-placeholder="설명"></div>
                    <textarea name="detailed_descriptions[${counter}][value]" style="display:none;"></textarea>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger delete-description-btn" data-id="${counter}" onclick="deleteDescription(${counter})">삭제</button>
                    </div>
                </div>
            `;
            $('#dynamic_fields_container').append(newFieldHtml);

            // 새로운 editable 요소에 대한 Medium Editor 초기화 및 동기화
            var newEditable = $(`#description_${counter} .editable`);
            var newTextarea = newEditable.next('textarea');
            new MediumEditor(newEditable.get(0)).subscribe('editableInput', function(event, editable) {
                newTextarea.val(editable.innerHTML);
            });

            counter++;
        });

        // 삭제 함수 정의
        window.deleteDescription = function(descriptionId) {
            $.ajax({
                url: '{% url "personapp:delete_description" %}',
                type: 'POST',
                data: {
                    'id': descriptionId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function(response) {
                    if(response.status === 'success') {
                        // DOM에서 삭제
                        $('#description_' + descriptionId).remove();
                    } else {
                        // 서버에서 반환한 에러 메시지를 표시
                        alert(response.message);
                    }
                },
                error: function(xhr) {
                    // 서버에서 반환한 에러 메시지를 표시
                    var errorMsg = xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : 'AJAX 요청 실패';
                    alert(errorMsg);
                }
            });
        };
    });
</script>


{% endblock %}
